.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  font-size: 20px;
  color:white;
  font-weight: 700;
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: white;
}

.navbar-toggler {
  padding:12px;
  border:1px solid transparent;
  border-radius: 12px;
  transition: all 0.5s;
}
.navbar-toggler:focus {
  box-shadow: none;
 
}
.navbar-toggler:hover{
border:1px solid var(--border-color);
}
.navbar-toggler-icon {
      width: 24px;
  height:24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
;
}

.nav-link {
  padding:12px 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--orange300);
 
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.toggle-btn{
  
  --bs-btn-padding-y: 16px;
  --bs-btn-padding-x: 32px;

  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 20px;
  --bs-btn-color: white;
  
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius:none;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
 
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-image: var(--orange-gradient4);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

}

.navbar-nav.mobile{
    background: var(--gray500);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 16px;
    margin: 20px 15px;
}

.nav-link.web{
  padding: 10px 20px;
  font-size:14px;
  font-weight: 500;
  color: var(--gray100);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.nav-link.mobile{
  padding: 10px 20px;
  font-size:14px;
  font-weight: 500;
  color: var(--gray100);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

 .navbar-nav .active{
background-image: var(--orange-gradient3);
border-radius: 30px;
padding: 10px 20px !important;
color: white !important;
  }

  .navbar-collapse .navbar-nav .active{
    padding: 12px 16px !important;
    color: var(--orange300) !important;
    background-image: none;
    background-color: #f974161d !important;
    border: 1px solid #f974163d !important;
    border-radius: 12px !important;

  }

