.search-form-control{
    display: block;
  width: 100%;
  padding: 12px 48px 12px 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--gray500);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--border-color);
  border-radius: var(--bs-border-radius);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.filter{
    top:80px
}