.subscribe-form{
    display: block;
  width: 100%;
  padding: 16px 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: black;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--border-color);
  border-radius: 12px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
    margin-bottom: 16px;
}
.subscribe-form:focus {
    color: white;
    background-color: black;
    border-color:var(--orange500);
    outline: 0;
    box-shadow: none;
}
.subscribe-form::placeholder{
    color: var(--gray200);
}

.avatar1{
    right: 0px;
    border: 2px solid var(--gray500);
}
.avatar2{
    right: 20px;
    border: 2px solid var(--gray500);
}
.avatar3{
    right: 55px;
    border: 2px solid var(--gray500);
}