.subscribe-form-footer{
   
    display: block;
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color:var(--gray500);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--border-color);
  border-radius: 12px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
    margin-bottom: 16px;
}

.subscribe-form-footer:focus {
    color: white;
    border-color:var(--orange500);
    outline: 0;
    box-shadow: none;
}
.subscribe-form::placeholder{
    color: var(--gray200);
}
