.intro-span::before{
    content: "";
    position: absolute;
    right: 10px;
     
    height: 6px;
    width: 6px;
    background: #f97316;
    border-radius: 3.5px;
    animation: 2s infinite pulse;
}
.intro-span{
    background-color: #f974161d;
    border: 1px solid #f974163d;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.ping-animation{
    animation: ping infinite 0.7s ;
    width: 8px;
    height: 8px;
}
@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50%{
        opacity: 1;

  }
  100% {
    transform: scale(1.4);
    opacity: 0.6;
  }

}