/* sm */

@media screen and (min-width: 576px) {
  .sm-25 {
    width: 25%;
  }
  .sm-33 {
    width: 33.3333%;
  }
  .sm-50 {
    width: 50%;
  }
  .sm-100 {
    width: 100%;
  }

  .sm-d-none {
    display: none !important;
  }

  .sm-d-block {
    display: block !important;
  }

  .sm-d-flex {
    display: flex;
  }

  .sm-flex-wrap {
    flex-wrap: wrap;
  }
}

/* md */

@media screen and (min-width: 768px) {
  .md-25 {
    width: 25%;
  }
  .md-33 {
    width: 33.3333%;
  }
  .md-50 {
    width: 50%;
  }
  .md-100 {
    width: 100%;
  }

  .md-d-none {
    display: none !important;
  }
   .navbar-expand-md .navbar-collapse {
    display: none !important;
  }

  .md-d-block {
    display: block !important;
  }

  .md-d-flex {
    display: flex !important;
  }

  .md-float-left{
    float: left;
  }
  .md-float-right{
    float: right;
  }

  .md-clear{
    clear: both;
  }

  .md-row-gap {
    row-gap: 0.1875rem;
  }

  .md-col-gap {
    column-gap: 1rem;
  }
  .md-col-gap2 {
    column-gap: 0.5rem;
  }

.w-md-fit{
  width: fit-content !important;
}
.h-md-fit{
  height: fit-content !important;
}
 
}

/* lg */

@media screen and (min-width: 992px) {
  .lg-25 {
    width: 25%;
  }
  .lg-33 {
    width: 33.3333%;
  }
  .lg-50 {
    width: 50%;
  }
  .lg-100 {
    width: 90%;
  }

  .lg-d-none {
    display: none !important;
  }

  .lg-d-block {
    display: block !important;
  }
  .lg-d-flex {
    display: flex !important;
  }

  .lg-flex-wrap {
    flex-wrap: wrap;
  }

  .lg-align-items-center {
    align-items: center;
  }

  .lg-justify-content-space-between {
    justify-content: space-between;
  }

  .lg-gap {
    gap: 4rem;
  }

  .lg-d-grid {
    display: grid;
  }
  h1{
     font-size: var(--text-6xl) !important;
       line-height: var(--text-6xl-line-height) !important;

  }
  h2{
     font-size: var(--text-5xl) !important;
       line-height: var(--text-5xl-line-height) !important;

  }
  h1 p{
font-size: var(--text-2xl) !important;
  line-height: var(--text-2xl-line-height) !important;
  }
.text-xs {
  font-size: var(--text-xs);
  line-height: var(--text-xs-line-height);
}
.text-sm {
  font-size: var(--text-sm);
  line-height: var(--text-sm-line-height);
}
.text-base {
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
}
.text-lg {
  font-size: var(--text-lg);
  line-height: var(--text-lg-line-height);
}
.text-xl {
  font-size: var(--text-xl);
  line-height: var(--text-xl-line-height);
}
.text-lg-2xl {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl-line-height);
}
.text-3xl {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl-line-height);
}
.text-4xl {
  font-size: var(--text-4xl);
  line-height: var(--text-4xk-line-height);
}
.text-5xl {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl-line-height);
}
.text-lg-6xl {
  font-size: var(--text-6xl);
  line-height: var(--text-6xl-line-height);
}
 .text-7xl {
  font-size: var(--text-7xl);
  line-height: var(--text-7xl-line-height);
}

}

/* xl */

@media screen and (min-width: 1200px) {
  .xl-25 {
    width: 25%;
  }
  .xl-33 {
    width: 33.3333%;
  }
  .xl-50 {
    width: 50%;
  }
  .xl-100 {
    width: 100%;
  }
  .xl-d-none {
    display: none;
  }

  .xl-d-block {
    display: block !important;
  }

  .content-container{
    width: 81%;
  }

  .xl-d-flex {
    display: flex !important;
  }

  .xl-flex-wrap {
    flex-wrap: wrap;
  }

  .xl-p-sticky {
    position: sticky;
    top: 0;
  }

  .xl-align-items-start {
    align-items: start;
  }

  .xl-space-between {
    justify-content: space-between;
  }

  .xl-align-items-center {
    align-items: center;
  }

  .xl-flex-direction {
    flex-direction: column;
  }

  .xl-gap {
    gap: 2em;
  }

  .xl-margin-0{
    margin: 0;
  }

  .xl-p-24{
    padding: 24px;
  }

  h1{
     font-size: var(--text-7xl) !important;
       line-height: var(--text-7xl-line-height) !important;

  }
  h2{
     font-size: var(--text-6xl) !important;
       line-height: var(--text-6xl-line-height) !important;

  }
.text-xs {
  font-size: var(--text-xs);
  line-height: var(--text-xs-line-height);
}
.text-sm {
  font-size: var(--text-sm);
  line-height: var(--text-sm-line-height);
}
.text-base {
  font-size: var(--text-base);
  line-height: var(--text-base-line-height);
}
.text-lg {
  font-size: var(--text-lg);
  line-height: var(--text-lg-line-height);
}
.text-xl {
  font-size: var(--text-xl);
  line-height: var(--text-xl-line-height);
}
.text-2xl {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl-line-height);
}
.text-3xl {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl-line-height);
}
.text-4xl {
  font-size: var(--text-4xl);
  line-height: var(--text-4xk-line-height);
}
.text-5xl {
  font-size: var(--text-5xl);
  line-height: var(--text-5xl-line-height);
}
.text-6xl {
  font-size: var(--text-6xl);
  line-height: var(--text-6xl-line-height);
}
 .text-xl-7xl {
  font-size: var(--text-7xl);
  line-height: var(--text-7xl-line-height);
}

}

/* xxl */

@media screen and (min-width: 1400px) {
  .xxl-25 {
    width: 25%;
  }
  .xxl-33 {
    width: 33.3333%;
  }
  .xxl-50 {
    width: 50%;
  }
  .xxl-100 {
    width: 100%;
  }
  .xxl-d-none {
    display: none;
  }

  .xxl-d-block {
    display: block;
  }

  .xxl-d-flex {
    display: flex;
  }

  .xxl-flex-wrap {
    flex-wrap: wrap;
  }
  .xxl-flex-no-wrap {
    flex-wrap: nowrap;
  }

  .xxl-space-between {
    justify-content: space-between;
  }

}
